* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    background-color: #232328;
    background: rgb(34, 37, 57);
    background: linear-gradient(67deg, 
    rgba(34, 37, 57, 1) 6%, 
    rgba(23, 24, 38, 1) 29%, 
    rgba(28, 30, 47, 1) 49%, 
    rgba(23, 24, 38, 1) 75%, 
    rgba(34, 37, 57, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 50em;
    display: grid;
    grid-template-rows: auto auto;
    z-index: 0;
}
  
.hidden {
    display: none;
}

.parent-container {
    position: absolute;
}

#playlist-table {
    width: 100%;
}
  
#playlist-table  th,
#playlist td {
    padding: 10px;
    text-align: left;
    color: hsla(155, 94%, 50%, 0.89);
}

#playlist tr:hover {
    background-color: rgba(112, 182, 240, 0.2);
}

    @media screen and (max-width: 1920px) {
        .music-container{
            margin-bottom:0cap;
        }
        .table-container{
            height: 76%;
        }
        #cover-box{
            bottom: 0.4rem;
        }
    }
    
#menu-icon {
    position: absolute;
    margin: 1rem; 
    bottom: 60rem;
    margin-left: -23rem;
    z-index: 200;
}

.music-container {
    background: linear-gradient(16deg, rgba(52, 11, 66, 1) 6%, rgba(47, 12, 74, 1) 29%, rgba(52, 11, 66, 1) 48%, rgba(39, 12, 74, 1) 70%, rgba(52, 11, 66, 1) 100%);
    border-radius: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    margin-bottom: 2cap;
    display: flex;
    position: absolute;
    bottom: 2rem;
    width: 96%;
    height: 15vh;
    left: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2bfc01;
    z-index: 1;
}

#cover-box {
    border-radius: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 3.9rem;
    width: 10%;
    bottom: 0.7rem;
    height: 9rem;
}

#cover {
    border-radius: inherit;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

#music-box {
    width: 100%;
}

#music-info{
  text-align: center;
  width: 40%;
  position: absolute;
  bottom: 1rem;
  right: 0rem;
}

#title {
    font-size: 2rem;
    font-weight: 600;
}

#artist {
    font-size: 1.4rem;
    font-weight: 500;
}

#progress-container{
  height: 7px;
  width: 31%;
  background-color: rgb(255 255 255 / 33%);
  margin: 2rem 0 1rem;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  bottom: 0rem;
  left: 30rem;
}

#progress {
    background-color: #2bfc01;
    width: 0%;
    height: inherit;
    border-radius: inherit;
    transition: width 100ms ease-in;
}

#timer-bar {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    font-size: 1.7rem;
    bottom: 1rem;
    right: 0rem;
}

#timer {
    margin-right: 32.5rem; 
}

#control-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: absolute;
  bottom: 3rem;
  left: 38rem;
}

#cover-box,
#music-info,
#progress-container,
#control-box {
    z-index: 2; 
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4rem;
    color: #2bfc01;
    transition: background 200ms linear, color 200ms linear;
}

.special-btn {
    background-color: #2bfc01;
    color: #000000;
    font-size: 2.2rem;
    margin: 0 1rem;
    padding: 1.4rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4rem;
    transition: opacity 200ms linear;
}

#search-container{
  position: absolute;
  width: 100%;
  bottom: 61rem;
}

#search {
    width: 12%;
    padding: 0.8rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 4rem;
    outline: none;
    margin-left: 3rem;
}

@media (hover: hover) {
    .btn:hover {
        background-color: #272525;
        color: #3a9200;
    }
    .special-btn:hover {
        opacity: 0.75;
    }
}

#shuffle.active,
#repeat.active,
#repeat.all {
    color: #000000;
    background-color: #9e03ec;
}

#repeat.single {
    color: #2bfc01; 
    background-color: #9e03e6 ;
}

.table-container {
    font-size: 1rem;
    background: scroll;
    background-color: #2e2e4e;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 1rem 2rem;
    top: 3rem;
    left: 48rem;
    overflow-y: auto; 
    width: 86rem;
    max-height: 52rem;
    position: absolute;
    z-index: 100;
    animation: slideIn 0.3s ease-in-out;
}
  
  @keyframes slideIn {
     0% {
        transform: translateY(-20px);
        opacity: 0;
     }
     100% {
        transform: translateY(0);
        opacity: 1;
    }
} 



@media screen and (max-width: 720px) {
    .music-container {
        padding: 1rem;
        height: auto;
        min-height: 90vh;
    }

    .table-container {
        height: 100%;
        width: 30%;
        font-size: 0.7rem;
        
    }
    
    .special-btn {
        font-size: 1rem;
    }
    
    #cover-box {
        position: relative;
        width: 55%;
        height: 20%;
        margin-bottom: 1rem;
        top: -12rem;
    }

    #progress-container {
        width: 50%;
        left: 6rem;
        top: 32rem;
    }
    
    #menu-icon {
        position: fixed;
        margin: 1rem; 
        top:  2rem;
        margin-left: 32rem;
    }
    
    #timer{
       margin-right: 36rem;
    }
    
    #timer-bar{
        right:  -5rem;
        bottom: -0.5rem;
    }
    
    #control-box {
        left: 12rem;
        top: 9rem;
        align-items: center;
    }
    
    #music-info{
      text-align: center;
      width: 60%;
      position: absolute;
      bottom: 4rem;
      right: 24rem;
    }
    
    #search-container{
      display: hidden;
    }
}