* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    background-color: #232328;
    background: rgb(34, 37, 57);
    background: linear-gradient(67deg, 
    rgba(34, 37, 57, 1) 6%, 
    rgba(23, 24, 38, 1) 29%, 
    rgba(28, 30, 47, 1) 49%, 
    rgba(23, 24, 38, 1) 75%, 
    rgba(34, 37, 57, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 50em;
    display: grid;
    grid-template-rows: auto auto;
    z-index: 0;
}
  
.hidden {
    display: none;
}

.parent-container {
    position: absolute;
}
    
#menu-icon {
    position: absolute;
    top: 2rem;
    left:  42.4rem;
    margin: 1rem; 
    z-index: 200;
}

.music-container {
    background: rgb(52, 11, 66);
    background: linear-gradient(16deg, rgba(52, 11, 66, 1) 6%, rgba(47, 12, 74, 1) 29%, rgba(52, 11, 66, 1) 48%, rgba(39, 12, 74, 1) 70%, rgba(52, 11, 66, 1) 100%);
    border-radius: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    margin-bottom: 5cap;
    display: flex;
    position: absolute;
    top: 2rem;
    width: 30%;
    height: 94vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2bfc01;
    z-index: 1;
}

#cover-box {
    border-radius: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 1rem;
    left: 3.9rem;
    width: 82%;
    height: 30rem;
}

#cover {
    border-radius: inherit;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

#music-box {
    width: 100%;
}

#music-info {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 35rem;
    right: 0rem;
}

#title {
    font-size: 2rem;
    font-weight: 600;
}

#artist {
    font-size: 1.4rem;
    font-weight: 500;
}

#progress-container {
    height: 7px;
    width: 100%;
    background-color: rgb(255 255 255 / 33%);
    margin: 2rem 0 1rem;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 48rem; 
    right: 0rem;
}

#progress {
    background-color: #2bfc01;
    width: 0%;
    height: inherit;
    border-radius: inherit;
    transition: width 100ms ease-in;
}

#timer-bar {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    font-size: 1.7rem;
    bottom: 1rem;
    right: 0rem;
}

#timer {
    margin-right: 32.5rem; 
}

#control-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 51rem;
    left: 9rem;
}

#cover-box,
#music-info,
#progress-container,
#control-box {
    z-index: 2; 
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4rem;
    color: #2bfc01;
    transition: background 200ms linear, color 200ms linear;
}

.special-btn {
    background-color: #2bfc01;
    color: #000000;
    font-size: 2.2rem;
    margin: 0 1rem;
    padding: 1.4rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4rem;
    transition: opacity 200ms linear;
}

#search-container {
    position: absolute;
    top: 5rem; 
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 53.8rem; 
}
#search {
    width: 90%;
    padding: 0.8rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 4rem;
    outline: none;
    margin-left: 0rem;
}

@media (hover: hover) {
    .btn:hover {
        background-color: #272525;
        color: #3a9200;
    }
    .special-btn:hover {
        opacity: 0.75;
    }
}

#shuffle.active,
#repeat.active,
#repeat.all {
    color: #000000;
    background-color: #9e03ec;
}

#repeat.single {
    color: #2bfc01; 
    background-color: #9e03e6 ;
}

.table-container {
    font-size: 1rem;
    background: scroll;
    background-color: #2e2e4e;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 1rem 2rem;
    top: 2rem;
    left: 1rem;
    height: 64rem; 
    overflow-y: auto; 
    max-width: 41.5rem;
    align-items: center;
    position: absolute;
    z-index: 100;
    animation: slideIn 0.3s ease-in-out;
}
  
  @keyframes slideIn {
     0% {
        transform: translateY(-20px);
        opacity: 0;
     }
     100% {
        transform: translateY(0);
        opacity: 1;
    }
}
  
#playlist-table {
    width: 100%;
}
  
#playlist-table  th,
#playlist td {
    padding: 10px;
    text-align: left;
    color: hsla(155, 94%, 50%, 0.89);
}
#playlist tr:hover {
    background-color: rgba(112, 182, 240, 0.2);
}
  


@media screen and (max-width: 720px) and (max-height: 1440px){
    html {
        font-size: 42.5%;
    }
    #timer {
        margin-right: 24.5rem; 
    }     
    #control-box {
       left: 4rem;
    }
    #menu-icon {
        left:  0rem;
    }
    #search-container {
        top: 4rem; 
        margin-top: 51.8rem; 
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 42.5%;
    }
    #timer {
        margin-right: 27.3rem; 
    }     
    #control-box {
       left: -1rem;
       top: 52rem;
    }
    #menu-icon {
        left:  -1rem;
    }
    .music-container {
        width: 34%;
        height: 30vh;
    }
    .table-container {
        top: 2rem;
        left: 0rem;
        height: 44rem; 
        overflow-y: auto; 
        max-width: 36rem;
    }
    #search-container {
        position: absolute;
        top: 5rem; 
        left: 0;
        width: 100%;
        text-align: center;
        margin-top: 53.8rem; 
    }
    #search {
        width: 90%;
        padding: 0.8rem;
        font-size: 1.6rem;
        border: none;
        border-radius: 4rem;
        outline: none;
        margin-left: 0rem;
    }
}
    
@media screen and (max-width: 768px) and (max-height: 1600px){
    html {
        font-size: 42.5%;
    }
    #timer {
        margin-right: 27.3rem; 
    }     
    #control-box {
       left: 6rem;
       top: 52rem;
    }
    #menu-icon {
        left:  27rem;
    }
    .music-container {
        width: 34%;
        height: 30vh;
    }
    .table-container {
        left: 28rem;
        height: 44rem; 
    }
    #search-container {
        top: 6rem; 
        left: 0;
        margin-top: 55.8rem; 
    }
}
