<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Music Player</title>
  </head>
  <body>
    <div class="container">
      <div id="menu-icon"><i class="btn fas fa-bars"></i></div>
      <div class="table-container hidden" id="playlist-container">
        <table id="playlist-table">
            <tbody id="playlist">
            </tbody>
        </table>
      </div>
      <div class="music-container">
        <div class="player-wrapper">
          <div class="cover">
            <div id="cover-box">
                <img src="static/images/592121803.webp" alt="cover-image" id="cover" />
            </div>
        </div>
            <div id="music-box">
              <audio id="disc"></audio>
              <div id="music-info">
               <h2 id="title"></h2>
                <h3 id="artist"></h3>
                </div>
                <div id="progress-container">
                  <div id="progress"></div>
                <div id="timer-bar">
                  <span id="timer">0:00</span>
                  <span id="duration">-0:00</span>
                </div>
              </div>
              <div id="control-box">
                <i id="prev" class="btn fas fa-backward"></i>
                <i id="shuffle" class="btn fas fa-random"></i>
                <i id="play" class="special-btn fas fa-play"></i>
                <i id="repeat" class="btn fas fa-redo"></i>
                <i id="next" class="btn fas fa-forward"></i>    
                </div>        
                <div id="search-container">
                  <input type="text" id="search" placeholder="Search" oninput="searchSong()" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="static/js/script.js"></script>
  </body>
</html>
